{% extends 'base.html' %}

{% block 'title' %}Cadastrar Vendedor{% endblock 'title' %}

{% block 'bory' %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'cadastrar_vendedor' %}" method="POST">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="">Nome</label>
            <input type="text" name="first_name" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for="">Sobrenome</label>
            <input type="text" name="last_name" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for="">E-mail</label>
            <input type="email" name="email" id="" class="form-control" placeholder="" aria-describedby="helpId">
        </div>
        <div class="form-group">
            <label for="">Senha</label>
            <input type="password" class="form-control" name="password" id="" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <hr class="bg-hr">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Último Login</th>
                <th scope="col">Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
                <tr>
                    <th scope="row">{{ vendedor.first_name }}</th>
                    <td>{{ vendedor.last_name }}</td>
                    <td>{{ vendedor.email }}</td>
                    <td>{% if vendedor.last_login %}
                            {{ vendedor.last_login }}
                        {% else %}
                            {{ 'Não foi efetuado login'}}
                        {% endif %}
                        
                        </td>
                    <td><a href="{% url 'excluir_usuario' vendedor.id %}" class="btn btn-danger">EXCLUIR</a></td>
                </tr>            
            {% endfor %}           
           
        </tbody>
    </table>
    
  
</div>

{% endblock 'bory' %}